{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "max-line-length": null,
    "property-no-vendor-prefix": null,
    "scss/at-extend-no-missing-placeholder": null,
    "scss/at-import-partial-extension": null,
    "selector-class-pattern": null
  }
}
