// -------------------------------------------------------
// Colors

$app-black: #333;
$app-white: #fff;
$app-blue-1: #337ab7 !default;
$app-blue-2: #369 !default;
$app-blue-3: #3398cc !default;
$app-blue-4: #004a99 !default;
$app-blue-5: #037bff !default;
$app-red-1: #933 !default;
$app-red-2: #653331 !default;
$app-red-3: #900 !default;
$app-red-4: #d7104e !default;
$app-gray-1: #ebebeb !default;
$app-gray-2: #666 !default;
$app-gray-3: #999 !default;
$app-gray-4: #ccc !default;
$app-gray-5: #979888 !default;
$app-gray-6: #f0eff5 !default;
$app-gray-7: #f7f7f7 !default;
$app-orange-1: #f90 !default;
$app-orange-2: #fb6600 !default;
$app-orange-3: #d38a0a !default;
$app-orange-4: #f07f0d !default;
$app-orange-5: #f57324 !default;
$app-green-1: #00b233 !default;
$app-transparent: transparent;
